/*
 *
 * Common pc style sheet
 *
 */


@charset "utf-8";

/* -------------------------------------------------------- */

/* font setting */

* {
	font-family: 'M PLUS 1p', sans-serif;
	font-weight: 300;
}

.font_light {
	font-family: 'M PLUS 1p', sans-serif;
	font-weight: 300;
}

.font_normal {
	font-family: 'M PLUS 1p', sans-serif;
	font-weight: 400;
}


